In [1]:
import pickle
import pandas as pd
import numpy as np
from tqdm import tqdm
from random import shuffle

In [2]:
with open("proccesed_dataset_new.pickle", "rb") as f:
    dataset = pickle.load(f)

In [3]:
shuffle(dataset)

In [4]:
len(dataset)

22427

### КАСТОМНАЯ ОБРАБОТКА, версия 1

In [16]:
VALID_COUNT = 2427

In [17]:
train_dataset = dataset[:len(dataset) - VALID_COUNT]
valid_dataset = dataset[len(dataset) - VALID_COUNT:]

In [18]:
import pickle

with open("dataset_train_new.pkl", "wb") as f:
    pickle.dump(train_dataset, f)

with open("dataset_valid_new.pkl", "wb") as f:
    pickle.dump(valid_dataset, f)

In [8]:
def gen_text_dataset_file(dataset):
    string_to_write = ""

    for item in tqdm(dataset):
        history_task = item[0]
        history_correctness = item[1]

        assert  len(history_task) == len(history_correctness)

        string_to_write += str(len(history_task)) + '\n'
        string_to_write += ",".join(map(str, history_task)) + '\n'
        string_to_write += ",".join(map(str, map(int, history_correctness))) + '\n'
    return string_to_write

In [9]:
f = open('text_dataset_train_new.txt', 'w')
f.write(gen_text_dataset_file(train_dataset))
f.close()

100%|██████████| 20000/20000 [00:55<00:00, 361.64it/s]

In [10]:
f = open('text_dataset_valid_new.txt', 'w')
f.write(gen_text_dataset_file(valid_dataset))
f.close()

100%|██████████| 2427/2427 [00:01<00:00, 1973.79it/s]

### КАСТОМНАЯ ОБРАБОТКА, версия 2

In [8]:
len(dataset)

22427

In [21]:
user_ids = []
log_ids = []
tasks_ids = []
correct_ids = []

In [22]:
log_id = 0

for user_id in tqdm(range(len(dataset))):
    tasks, correct = dataset[user_id]

    for task_i in range(len(tasks)):
        log_id += 1

        user_ids.append(user_id)
        log_ids.append(log_id)
        tasks_ids.append(tasks[task_i])
        correct_ids.append(int(correct[task_i]))

100%|██████████| 22427/22427 [00:04<00:00, 5445.04it/s]

In [31]:
len(dataset)

22427

In [23]:
new_df = pd.DataFrame({
    "user_id": user_ids,
    "log_id": log_ids,
    "sequence_id": tasks_ids,
    "correct": correct_ids
})

In [30]:
len(user_ids) / 100

78323.25

In [24]:
new_df

         user_id   log_id  sequence_id  correct
0              0        1         1822        1
1              0        2         1841        0
2              0        3         1860        0
3              0        4         1879        0
4              0        5         1898        1
...          ...      ...          ...      ...
7832320    22426  7832321          825        0
7832321    22426  7832322         1939        1
7832322    22426  7832323         1668        1
7832323    22426  7832324         2377        1
7832324    22426  7832325         1011        0

[7832325 rows x 4 columns]

In [26]:
new_df.to_csv("new_repo_dataset_2015.csv", index=False)